body{
	background-color: rgba(18, 110, 231, 0.884)
}
.navbar-light .navbar-brand{
	color: rgba(18, 110, 231, 0.884);
}


.navbar-light .navbar-nav .active>.nav-link{
	color: rgba(18, 110, 231, 0.884);
}

.navbar-light .navbar-nav .nav-link{
	color: rgba(18, 110, 231, 0.884);
}